.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-container {
  max-width: 65rem;
  width: 100%;
  text-align: center;
}

.ios {
  background-color: var(--Strong-cyan);
}

.mac {
  background-color: var(--Light-blues);
}