:root {
  //colors
  --Strong-cyan: #26baa4;
  --Light-blues: #6173ff;
  --Dark-grayish-blue: #4c545d;
  --Grayish-blue: #9fabb2;
  --Light-gray: #f2f2f2;
  --Footer-Blue: #3e52a3;

  //Fonts
  --font-family: "Bai Jamjuree", sans-serif;

}